<div class=question data-id="{{Id}}" data-department="{{DepartmentId}}" data-quiz="{{QuizId}}">
    <div class="row">
        <div class="col-sm-10">
            <h4>{{QuestionNumber}}. {{QuestionText}}</h4>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success btn-sm editQuestion buttonRight" data-id="{{Id}}" title="Edit this question"><span class="glyphicon glyphicon-edit"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="answers">Answers:</p>
            <div class="answerList">
                {{#listAnswers this}}
                <div class="col-md-3 col-sm-4">{{plusOne index}}. {{{answerText}}}</div>
                {{/listAnswers}}
            </div>
        </div>
    </div>
    <p class="incorrectMessage"><strong>Answer if incorrect:</strong> {{IncorrectMessage}}
</div>