<div class="quizEditor" data-id="{{Id}}" data-department="{{DepartmentId}}">
    <div class="row">
        <div class="form-group lead col-sm-9 col-md-10">
            <label>Quiz Name:</label>
            <input class="form-control" type="text" name="Name" value="{{Name}}" >
        </div>
        <div class="col-md-2 col-sm-3">
            {{#if Id}}
            <div class="buttonRight">
                <a class="btn btn-default btn-sm downloadButton" href="{{{downloadQuizHref this}}}" download="{{Name}}.html" title="Download Quiz as html"><span class="glyphicon glyphicon-download-alt"></span></a>
                <button class="btn btn-default btn-sm cloneButton" title="Clone this quiz"><span class="glyphicon glyphicon-duplicate"></span></button>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="questionsList col-xs-12">
            <h3>Questions:</h3>
            {{#listQuestions this}}
                {{> question-partial this}}
            {{/listQuestions}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    {{#if Id}}
                        <button class="btn btn-success btn-sm addQuestion">Add new Question</button>
                      {{else}}
                        <p>You must first save the quiz before you can add any questions.</p>
                    {{/if}}
                    <button class="btn btn-info btn-sm resetOrder">Reset question order</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="saveButton btn btn-primary">Save</button>
                    {{#if Id }}<button class="deleteButton btn btn-danger">Delete</button>{{/if}}
                    <button class="cancelButton btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
        <div id="alertSpot" class="col-sm-6"></div>
    </div>
</div>
