<div class="row answer">
    <div class="col-xs-9 form-group">
        <input type="text" class="form-control answerText" name="{{questionId}}Answer" value="{{answer}}" data-index="{{index}}">
    </div>
    <div class="col-xs-3 form-group">
        <label>Correct?</label>
        <input type="radio" name="{{questionId}}Correct" class="correctAnswer" data-index="{{index}}" {{#if correct}}checked{{/if}}>
        <button class="btn btn-danger btn-sm deleteAnswerButton" data-index="{{index}}">
            <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
    </div>
</div>
