<div class=question data-id="{{Id}}" data-department="{{DepartmentId}}" data-quiz="{{QuizId}}">
    <div class="row">
        <div class="col-sm-10 form-horizontal">
            <label>Question:</label>
            <input class="form-control questionText" type="text" name="QuestionText" value="{{QuestionText}}">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default btn-sm cancelEdit" data-id="{{Id}}" title="Cancel edit"><span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-danger btn-sm deleteQuestion" data-id="{{Id}}" title="Delete this question"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"
            <p class="answers">Answers:</p>
            <div class="answerList form-inline">
                {{#listAnswers this}}
                    {{>answerEditor-partial this}}
                {{/listAnswers}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default btn-sm addAnswer" data-id="{{Id}}">Add answer</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <p class="incorrectMessage">Incorrect Message: <input type="text" class="form-control" name="IncorrectMessage" value="{{IncorrectMessage}}">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary btn-sm saveQuestion pull-right" data-id="{{Id}}">Save</button>
        </div>
    </div>
</div>
